{% extends './base.html' %}


{% block sidebar %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/ride/dashboard/">
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ride/user_rideInfo/">
              <span data-feather="file" class="align-text-bottom"></span>
              My rides
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ride/rideReq/">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              Request a ride
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/ride/shareFilter/">
              <span data-feather="users" class="align-text-bottom"></span>
              Share a ride
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ride/driverHome/">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Driver home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ride/profile/">
              <span data-feather="layers" class="align-text-bottom"></span>
              Profile
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>>
</div>>
{% endblock %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h1">Find your best share</h1>
    </div>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;    
      }

    .button {
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        margin-top: 40px;
        background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
        color: #fff;
    }

    .button:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/css/checkout.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    
<div class="container">
<main>


    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/static/images/car.gif" alt="" width="400" height="300">
                <p class="lead">Fill out want you want and we will find you a ride!</p>
            </div>
        </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Search for a ride to share</h4>
        <form class="needs-validation" action="/ride/shareFilter/" method="post" validate>
        {% csrf_token %}
        {% for message in messages%}
            <h6 class="h6" id="messages">{{message}}</h6>
        {% endfor %}
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="destination" class="form-label">Destination</label>
              <input type="text" class="form-control" id="destination" name="destination" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid destination is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="earliest_arrival" class="form-label">Earliest arrival time</label>
              <input type="datetime-local" class="form-control" id="earliest_arrival" name="earliest_arrival"  placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid earliest arrive time is required.
              </div>
            </div>

            <div class="col-sm-6">
                <label for="latest_arrival" class="form-label">Lastest arrival time</label>
                <input type="datetime-local" class="form-control" id="latest_arrival" name="latest_arrival"  placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid lastest arrive time is required.
                </div>
              </div>
  

            <div class="col-sm-6">
                <label for="passenger_number" class="form-label">Passenger number</label>
                <input type="number" class="form-control" id="passenger_number" name="passenger_number"  placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid passenger number is required.
                </div>
            </div>
          </div>

          <hr class="my-4">
          <a href="/ride/dashboard/" class="button">Back to dashboard</a>
          <button class="button" type="submit">Proceed to search a ride</button>
        </form>
      </div>
    </div>
</main>

</div>

{% if list_len == 0 %}
<div>
    <h6 class="h6" id="messages">There is no result that satisfy your need!</h6>
</div>
{% endif  %}

<ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#open-rides-collapse" aria-expanded="false">
      Availiable rides
      </button>
      <div class="collapse show" id="open-rides-collapse">
        <div class="table-responsive">
          <table class="table table-striped table-sm" style="vertical-align: middle;">
            <thead>
                <tr>
                  <th scope="col">Ride ID</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Arrival time</th>
                  <th scope="col">Total passengers</th> 
                  <th scope="col">Passenger number</th>
                  <th scope="col">Vehicle type</th>     
                  <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
              {% for ride in ride_list %}
                <tr>
                  <td>{{ride.id}}</td>
                  <td>{{ride.owner}}</td>
                  <td>{{ride.destination }}</td>
                  <td>{{ride.arrival_time }}</td>
                  <td>{{ride.total_number}}</td>
                  <td>{{ride.passenger_number}}</td>
                  <td>{{ride.vehicle_type}}</td>
                  <td>
                      <a class="btn btn-outline-dark" href="/ride/shareDetail/{{ride.id}}/?party_num={{sharer_num}}">Detail</a>
                  </td>
                </tr>                  
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
</ul>


<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/static/bootstrap/js/checkout.js"></script>

{% endblock %}